body, html{
    background-color: rgb(247, 234, 234);
    background-image: url("../img/img_BG.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
    
    
    margin: 0% 0%;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}