body, html{
    background-color: brown;
    
    margin: 0% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    margin-top: 12.7%;
    border: 2px solid blue;
    width: 100px;
    height: 100px;
}

.header {
    margin-top: 12.7%;
    margin-bottom: 0%;
    width: 252px;
    height: 165px;
    
    
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
header h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28.98px;
    color: #dfdedd
}

header h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 37.26px;
    text-align: center;


    color: #bbbbbb;
    
    
}

header h2 {
    font-size: 33.12px;
    font-family: kozuka-gothic-pr6n, sans-serif;
    color: #bbbbbb;
    
}

header h1, h2, h3 {
    
    padding: 0%;
    margin: 1.7%;
    font-weight: 400;
}



nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid white;
    margin-top: 6.94%;
    font-size: 29px;
    width: 564px;
    
    
    text-align: center;
    
}

nav li {
    display: inline;
    
    
    
    
}

nav li a {
    color: white;
    
}






/*Unique*/

.newsSection {
    margin-top: 41.25vh;
}


.newsContainer {

    width: 40vw;
    height: 500px;
    border: 2px solid white;
    

}