
body, html{
    background-color: rgb(247, 234, 234);
    background-image: url("../img/img_BG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 16px;
    
    position: relative;
    
    
    margin: 0% 0%;
    width: 100%;
    min-height: 100%; 
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vineUp {
    background-image: url("../img/img_leaves_top.png");
    background-repeat: no-repeat;
    position: fixed;
    width: 392px;
    height: 497px;
    top:0%;
    left: 0%;

    
}

.vineDown {
    background-image: url("../img/img_leaves_bot.png");
    background-repeat: no-repeat;
    position: fixed;
    width: 362px;
    height: 473px;
    bottom: 0px;
    right: 0%; 
    margin-bottom: 0;
    align-self: flex-end;
    
}

/*Language*/
.language{
    position: fixed;
    top: 11.18%;
    left: 5.8%;
    width: 109px;
    height: 105px;
    
    


   

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14.49px;
    color: #b2b2b2;
    
    margin: 0%;
    padding: 0%;
    justify-content: space-between;
    display: flex;


}
.language p{
    margin-right: 9px;
    
    padding: 0%;
    margin: 0%;
}


.langCurrent{
    width: 58px;
    height: 39px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 4px solid #b2b2b2;
    
    padding: 0%;
    margin-top: 5px;
}


.dropdown {
    display: none;
    position: absolute;
    flex-direction: column;
    right: 0%;
    bottom: 0px;
    
}
.language:hover .dropdown {
    display: flex;

}

.langOpt{
    width: 58px;
    height: 39px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 4px solid #b2b2b2;
    margin-top: 5px;
    

    

}

/*Header*/
header {
    margin-top: 12.7vh;
    margin-bottom: 0%;
    width: 252px;
    height: 165px;
    
    
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
   
}

header h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28.98px;
    color: #dfdedd;
    margin-bottom: 9px;
}

header h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 37.26px;
    text-align: center;


    color: #bbbbbb;
    
    
}

header h2 {
    /*font-size: 33.12px;
    font-family: kozuka-gothic-pr6n, sans-serif;
    color: #bbbbbb;*/

   content: url('../img/img_kanji.png');
    background-repeat: no-repeat;
    background-size: contain;
    
}

header h1, h2, h3 {
    
    padding: 0%;
    margin: 1.7%;
    font-weight: 400;
}


/*Nav*/
nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid #dfdedd;

    font-size: 29px;
    width: 607px;
    margin-top: calc(12.47vh * 0.67);
    
    
     
    margin-bottom: 1%;
    
    
    
    justify-content: center;
    align-items: center;
    
    
    
    display: flex;
    justify-content: space-between;

    background-color: #ffffff;
    opacity: .77;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    margin-left: auto;
    margin-right: auto;
    
    
    

    width: 100%;
    padding: 0%;
    margin: 0% 0% 34px 0%;
    
    
}

nav li {
    list-style-type: none;
    
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;

    
    
}

nav li a {
    color: #dfdedd;
    text-decoration: none;
    
    
}


nav li::before {
    content: url('../img/dots2.png');

    color: #dfdedd;
    
    margin-top: 4px;
    margin-right: 10px;

    

}

nav li:first-child::before {
    content: '';
    z-index: 3;
    position: absolute;
    width: 0%;
    height: 0%;
    
}
nav li.current a{
    color: #cbcbcb;
}
nav li:hover a{
    color: #cbcbcb;
}

/*Unique*/


.portfolioSection {
    margin-top: 3.9vh; /* ennen 6vh*/
    
    height: 100%;
    min-height: 69vh;
    min-width: 71vw;

    padding: 0%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}


.portfolioSection h4{
    font-size: 24.84px;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    text-align: center;
    width: 122px;
    height: 30px;
    padding: 0%;


    background-image: url("../img/img_section_contact.png");
    background-size: cover;
    background-repeat: no-repeat;

    top: -30px;
    right: 23%;
    z-index: 1;
    position: absolute;
    margin: 0%;
 
}

.portfolioContainer {

    width: 100%;
    min-height: 680px;

    overflow: auto;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    color: #bababa;





    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

/*First and first items*/
.first{
    flex: 1;
    display: flex;
    flex-direction: column;

    margin: 0%;
    padding: 0%;
    
   
}
.player{
    background-color: #ffffff;
    position: relative;
    
    width: 591px;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 0%;

    border-left: 1px solid #d7d7d7;
}
.textContainer {
    display: flex;
    justify-content: space-between;
    /* other styles as needed */
}
.nowPlayingText {
    margin-left: 19px;

    font-size: 20.7px;
    color: #979797;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.songName {
    font-family: Arial, Helvetica, sans-serif;
    color: #b7b7b7;
    font-size: 20.7px;
    margin-right: 4.23%;

    
}

.audioPlayer {
    background-color: #ffffff;
    width: 559px;
}


.songExpContainer {
    background-color: #ffffff;
    text-align: center;
    width: 559px;
    margin-top: 8px;
    
    padding: 0%;
    
    border: 1px solid #d7d7d7;
}

.upperSongExp {
    position: relative;
}
.otherSongName {
    font-family: Arial, Helvetica, sans-serif;
    color: #979797;
    font-size:  16.4px;
    
    margin-bottom: 0px;
    margin-top: 15px;
    font-weight: 550;

}
 .adjectives {
    font-family: Arial, Helvetica, sans-serif;
    color: #b1b1b1;
    font-size:  14.35px;
    margin-top: 13px;
    padding-bottom: 15px;
    
    
}

.adjectives:not(:last-child){
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 0%;
}
.songExp {
    
    margin-bottom: 25px;
    padding-left: 31px;
    padding-right: 31px;
    text-align: left;
}
.songExpContainer img {
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    margin: auto;
    
}

.songsContainer {
    background-color: #ffffff;
    text-align: center;
    width: 559px;
    margin-top: 16px;
    border: 1px solid #d7d7d7;
    display: flex;
    flex-direction: column;
 
}






/*Second and second items*/

.second{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    



}

.albumImg {

    width: 490px;
    width: 95%;
    height: 490px;
    text-align: center;
    margin-top: 15px;
    
    position: relative;

}

.nowAlbum {
    z-index: 2;
    position: absolute;
    top: 50%; /* Center it vertically */
    left: 50%; /* Center it horizontally */
    transform: translate(-50%, -50%); /* Offset the position by half its width and height to truly center it */
 

}
.left, .right {
    position: absolute;
    width: 410px;
    height: 410px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 1;
}
.left {
    left: 0; /* Align this image to the left */
}

.right {
    right: 0; /* Align this image to the right */
}

.albumName {
    
    margin-top: 20px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18.63px;
    width: 490px;
    height: 52px;
    text-align: center;

    border: 1px solid #d2d2d2;
}
.albumAbout {
    position: relative;
    margin-top: 16px;
    background-color: #ffffff;
    width: 490px;
    padding: 0%;
    text-align: center;

    border: 1px solid #d2d2d2;
}
.albumAbout img {
    position: absolute;
    top: -6.5px;
    left: 0;
    right: 0;
    margin: auto;
    
    
}

.albumAbout p {
    font-family: Arial, Helvetica, sans-serif;
    font-size:  14.49px;
    color: #b1b1b1;

    padding-left: 21px;
    padding-right: 21px;
}

.leftArrow {
    position: absolute;
    top: 50%;
    width: 43px;
    height: 30px;
    z-index: 3;
    left: -16px;
}

.rightArrow {
    position: absolute;
    top: 50%;
    width: 43px;
    height: 30px;
    z-index: 3;
    right: -16px;

}

/*Third and third items*/
.third{
    flex: 1;

}






.albumList {
    background-color: #ffffff;
    text-align: center; 
    width: 386px;
    margin-left: 25px; 
    margin-top: 55px;
    position: relative;

    padding: 0px;


    border-top: 1px solid #f3f3f3;
    border-right: 2px solid #d7d7d7;
    border-bottom: 1px solid #f3f3f3;
}
.albumList img {
    position: absolute;
    right: 8px;
    top: 6px;
    
    
}
.albumYear {
    font-family: Arial, Helvetica, sans-serif;
    color: #b7b7b7;
    font-size: 18.63px;
    
    padding-bottom: 9px;
    margin: auto;
    width: 25%;
    align-self: center;
    margin-bottom: 0px;

    border-bottom: 1px solid #d2d2d2;
}
.albumList h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18.63px;
    color: #bababa;
    margin-top: 16px;
    margin-bottom: 0px;
    padding-bottom: 0%;

    
}
.albumList p {
    margin-bottom: 0%;
    margin-top: 16px;
    padding-top: 0%;
    padding-bottom: 52px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18.63px;
    color: #b7b7b7;
    
}



.tree {
    width: 40vw;
    flex-grow: 1;
    min-height: 180px;
    
    
    
    background-image: url("../img/img_footer_tree.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    margin-top: 10px;
    margin-bottom: 0%;
    padding-bottom: 0%;

}
/*Media Queries*/
/*THE*/
@media (max-height: 1079px) {


    .language {
        top: 17.18%;
        left: 6.56%
    }
}


@media screen and (max-width: 1920px) {
    nav{
        font-size: 29px; /*give smaller?*/
    }
    .newsContainer{
        font-size: 18px; /*give smaller?*/
    }
    .newsSection {
        margin-top: 6vh;
    }
}